In [2]:
library(tidyverse)
library(gridExtra)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.8     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.1
✔ readr   2.1.2     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Warning message:
"package 'gridExtra' was built under R version 4.2.3"

Attaching package: 'gridExtra'


The following object is masked from 'package:dplyr':

    combine

In [4]:
wh <- 3968.85
wk <- 3933.67
c <- 3 * 10^8

data <- read_csv("GalaxyMeasures.csv") |>
    select(-Dec, -Arcmin, -Arcsec) |>
    mutate(Zh = (LambdaH - wh)/wh,
    Zk = (LambdaK - wk)/wk,
    Vh = (Zh * c)/1000,
    Vk = (Zk * c)/1000,
    Vavg = (Vh + Vk)/2,
    Zh = round(Zh, 5),
    Zk = round(Zk, 5),
    Vh = round(Vh, 1),
    Vk = round(Vk, 1),
    Vavg = round(Vavg, 1),
    LambdaH = round(LambdaH, 1),
    LambdaK = round(LambdaK, 1)) |>
    setNames(c('Gal #', 'Name', 'RA H', 'RA M', 'RA S', 'λObs H-line [Å]', 'λObs K-line [Å]', 'Z H-line', 'Z K-line', 'Vrad H-line [km/s]', 'Vrad K-line [km/s]', 'Average Vrad [km/s]'))
head(data)

png("table.png", height = 4700, width = 900)
p<-tableGrob(data)
grid.arrange(p)
dev.off()

write.csv(data, file = 'table.csv')

Rows: 216 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Name
dbl (9): Galaxy Number, RA H, RA M, RA S, Dec, Arcmin, Arcsec, LambdaH, LambdaK

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Gal # Name      RA H RA M RA S λObs H-line [Å] λObs K-line [Å] Z H-line
1 1     1202 3127 12   2    10.2     NA              NA               NA
2 2     NGC 4080  12   2    18.5     NA              NA               NA
3 3     NGC 4104  12   4     6.0     NA              NA               NA
4 4     NGC 4131  12   6    12.0 4018.1          3982.2          0.01241
5 5     NGC 4132  12   6    30.0 4023.3          3987.4          0.01371
6 6     NGC 4134  12   6    36.0 4018.5          3983.3          0.01250
  Z K-line Vrad H-line [km/s] Vrad K-line [km/s] Average Vrad [km/s]
1      NA      NA                 NA                 NA
2      NA      NA                 NA                 NA
3      NA      NA                 NA                 NA
4 0.01234  3722.6             3700.9             3711.8
5 0.01366  4112.7             4098.9             4105.8
6 0.01261  3750.8             3781.6             3766.2

png
  2